.postTitle {
  border-bottom: 1px solid var(--white-3);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.postInfo span {
  color: var(--gray-3);
  font-weight: 500;
}

.tags {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
}

.tags li a {
  color: var(--blue);
}

.tags li a:hover {
  text-decoration: underline;
}

.content h2 {
  font-size: 1.6rem;
  color: var(--blue);
  margin-bottom: 1rem;
}

.content p + h2 {
  margin-top: 2rem;
}

.content p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: medium;
  color: var(--gray-1);
}

.content p > a {
  color: var(--blue);
}

.content p > a:hover {
  text-decoration: underline;
}

.content p + p {
  margin-top: 0.8rem;
}

.goToRecentPosts {
  margin: 4rem 0;
}

.goToRecentPosts a {
  font-weight: bold;
  color: var(--blue);
  font-size: 1.2rem;
}

.goToRecentPosts a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  .tags {
    gap: 1rem;
  }
  .postTitle {
    margin-bottom: 1rem;
  }
  .content h2 {
    font-size: 1.5rem;
  }
  .content p {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
