:root {
  --blue: #3667D9;
  --gray-1: #2C3333;
  --gray-2: #464D4D;
  --gray-3: #696E6E;
  --white-1: #FFFFFF; 
  --white-2: #EEEEEE; 
  --white-3: #DDDDDD; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: var(--gray-2);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 40rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin: 2rem 0;
  color: var(--gray-1);
}

@media screen and (max-width: 680px) {
  .title {
    font-size: 2rem;
    margin: 1.5rem 0;
  } 
}

.subtitle {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  padding-bottom: 0.8rem;
  margin-bottom: 1.5rem;
}