:root {
  --blue: #3667d9;
  --gray-1: #2c3333;
  --gray-2: #464d4d;
  --gray-3: #696e6e;
  --white-1: #ffffff;
  --white-2: #eeeeee;
  --white-3: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: var(--gray-2);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.container {
  max-width: 43.75rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.mainContainer {
  margin-bottom: 3rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.main-title {
  font-weight: bold;
  font-size: 2.7rem;
  color: var(--gray-1);
}

.main-title span,
.main-paragraph span {
  color: var(--blue);
}

.main-paragraph {
  margin-top: 1rem;
  color: var(--gray-1);
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin: 2rem 0;
  color: var(--gray-1);
}

@media screen and (max-width: 680px) {
  .title {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
}

.subtitle {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  padding-bottom: 0.8rem;
  margin-bottom: 1.5rem;
}

.animeUp {
  transform: translate3d(0, -10px, 0);
  opacity: 0;
  animation: animeUp 0.2s forwards;
}

@keyframes animeUp {
  to {
    transform: initial;
    opacity: 1;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
